.icon {
    fill: currentColor;
    height: 1em;
    width: 1em;
}

.icon.xs {
    height: .75em;
    width: .75em;
}

.icon.sm {
    height: .875em;
    width: .875em;
}

.icon.lg {
    height: 1.33em;
    width: 1.33em;
}

.icon.xl {
    height: 1.75em;
    width: 1.75em;
}

.icon.x2 {
    height: 2em;
    width: 2em;
}

.icon.x3 {
    height: 3em;
    width: 3em;
}

.icon.x4 {
    height: 4em;
    width: 4em;
}

.icon.x5 {
    height: 5em;
    width: 5em;
}