<div class="bg-container">
    <div class="login-card">
        <div class="header p-3 mt-2">
            <div class="logo mb-4">
                <span>MF</span>
            </div>
            <h1>Bem vindo(a) ao <span class="my-finance">MyFinance</span></h1>
        </div>
        <div class="form-container" [formGroup]="loginForm">
            <input type="checkbox" id="signup_toggle">
            <form class="form">
                <div class="form_front">
                    <div class="form_details">LOGIN</div>
                    <input placeholder="Usuário" autocomplete="username" class="input" type="text"
                        formControlName="username">
                    <input placeholder="Senha" autocomplete="current-password" class="input" type="password"
                        formControlName="password">
                    <button class="btn" (click)="onLoginRequest()">Entrar</button>
                    <span class="switch">Ainda não possui uma conta?
                        <label class="signup_tog" for="signup_toggle">
                            Cadastrar-se
                        </label>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>
<app-loading></app-loading>