<div class="bg-container">
    <div class="login-card col-md-6 col-sm-12 p-0">
        <div class="content">
            <div class="header p-3">
                <div class="logo mb-4">
                    <span>MF</span>
                </div>
                <h1>Bem vindo(a) ao MyFinance</h1>
            </div>
            <div class="form-container" [formGroup]="loginForm">
                <input type="checkbox" id="signup_toggle">
                <form class="form">
                    <div class="form_front">
                        <div class="form_details">LOGIN</div>
                        <div
                            class="col-12 p-0 flex-column justify-content-center align-items-center d-flex position-relative">
                            <input placeholder="Usuário"
                                [ngClass]="{'incomplete-form': isControlInvalid(loginForm.controls['username'])}"
                                autocomplete="username" class="input" type="text" formControlName="username">
                            @if (isControlInvalid(loginForm.controls['username'], 'required')) {
                            <div class="col-12 p-0 d-flex justify-content-start align-items-center error-message">
                                <span>* Campo obrigatório</span>
                            </div>
                            }
                        </div>
                        <div
                            class="col-12 p-0 flex-column justify-content-center align-items-center d-flex position-relative">
                            <div class="see-password"
                                [ngClass]="{'top-distance': !isControlInvalid(loginForm.controls['password'])}"
                                (click)="toggleCanSeePassword()">
                                <app-icon [name]="canSeePassword ? 'mdiEyeOffOutline' : 'mdiEyeOutline'"></app-icon>
                            </div>
                            <input placeholder="Senha"
                                [ngClass]="{'incomplete-form': isControlInvalid(loginForm.controls['password'])}"
                                autocomplete="current-password" class="input"
                                [type]="canSeePassword ? 'text' :'password'" formControlName="password">
                            @if (isControlInvalid(loginForm.controls['password'], 'required')) {
                            <div class="col-12 p-0 d-flex justify-content-start align-items-center error-message">
                                <span>* Campo obrigatório</span>
                            </div>
                            }
                            @else if (isControlInvalid(loginForm.controls['password'], 'minlength')) {
                            <div class="col-12 p-0 d-flex justify-content-start align-items-center error-message">
                                <span>* A senha é muito curta</span>
                            </div>
                            }
                        </div>
                        <button class="btn" (click)="onLoginRequest()">Entrar</button>
                        <span class="switch">Ainda não possui uma conta?
                            <label class="signup_tog" for="signup_toggle">
                                Cadastrar-se
                            </label>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<app-loading></app-loading>